<% if (locals.errors) {%>
<div>
  <h3 class="error-msg">Failed to submit:</h3>
  <ul class="error-details">
    <% errors.forEach(function(error) { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
</div>
<% } %>