<aside>
  <header>
    <a href="/?category=1&page=1">
      <div>
        <img src="/images/chart-no-axes-gantt.svg" alt="App logo" />
        <h1>
          <pre>&lt; <span id="typing"></span
          ><span id="cursor"></span> /&gt;</pre>
        </h1>
      </div>
    </a>
    <form action="/add">
      <button>
        <img src="/images/plus.svg" alt="Add icon" />
        <p>New project</p>
      </button>
    </form>
  </header>
  <nav>
    <ul role="list">
      <li><a href="/?page=1">All Projects</a></li>
      <li><a href="">Web Development</a></li>
      <li><a href="">Vanilla</a></li>
      <li><a href="">Tool</a></li>
      <li><a href="">Utility</a></li>
      <li><a href="">Data Analysis</a></li>
    </ul>
  </nav>
</aside>
