<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Hilman's Project Inventory</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/modules/main.js" defer></script>
  </head>
  <body>
    <%- include("partials/sidebar") %>
    <main><%- include(page) %></main>
    <%- include("partials/footer") %>
  </body>
</html>
