<main>
  <form action="/new" method="post">
    <h2>New project</h2>
    <%- include("partials/errors.ejs") %>
    <div>
      <!-- to do -->
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <textarea name="" id=""></textarea>
      <label for=""></label>
      <textarea name="" id=""></textarea>
      <label for=""></label>
      <textarea name="" id=""></textarea>
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
      <label for=""></label>
      <input type="text">
    </div>
    <button>Submit</button>
  </form>
</main>